{
			module: "MMM-FeedProvider-RSS",
			config: {
				text: "Help me!!",
				id: "MMFP3",
				consumerids: ["MMFD3"],
				datarefreshinterval: 11000,
				feeds: [
					{ feedname: 'sky_news', feedtitle: 'SKY ', feedurl: 'https://feeds.skynews.com/feeds/rss/home.xml', oldestAge: 24 * 1 * 60 },
					{ feedname: 'BBC_World', feedtitle: 'BBC ', feedurl: 'https://feeds.bbci.co.uk/news/world/rss.xml', oldestAge: 24 * 1 * 60 },
					{ feedname: 'CNN_latest', feedtitle: 'CNN ', feedurl: 'http://rss.cnn.com/rss/cnn_latest.rss', oldestAge: 24 * 1 * 60 },

				]
			}
		},

		{
			module: "MMM-FeedProvider-RSS",
			config: {
				text: "Help me!!",
				id: "MMFP2",
				consumerids: ["MMFD2"],
				feeds: [

					{ feedname: 'vamp', feedtitle: 'Vamp', feedurl: 'https://www.vampyvarnish.com/feed/', oldestAge: 24 * 1 * 60 },
					{ feedname: 'Elle2', feedtitle: 'Elle', feedurl: 'https://www.elle.com/rss/all.xml/', oldestAge: 24 * 1 * 60 },
					{ feedname: 'gq', feedtitle: 'GQ  ', feedurl: 'https://www.gq.com/feed/style/rss', oldestAge: 24 * 1 * 60 },
					{ feedname: 'princesshairstyles', feedtitle: 'Hair', feedurl: 'https://www.princesshairstyles.com/feeds/posts/default?alt=rss', oldestAge: 24 * 1 * 60 },
					{ feedname: 'Reddit', feedtitle: 'MKUp', feedurl: 'https://www.reddit.com/r/MakeupAddiction/.rss?format=xml', oldestAge: 24 * 1 * 60 },

				],
				datarefreshinterval: 5000,
			}
		},
		{
			module: "MMM-FeedProvider-RSS",
			config: {
				text: "Help me!!",
				id: "MMFP1",
				consumerids: ["MMFD1",],
				feeds: [

					{ feedname: 'bf', feedtitle: 'Fail', feedurl: 'https://www.buzzfeed.com/fail.xml', oldestAge: 24 * 40 * 60 },
					{ feedname: 'bc', feedtitle: 'Cmic', feedurl: 'https://www.buzzfeed.com/comics.xml', oldestAge: 24 * 40 * 60 },
					{ feedname: 'bw', feedtitle: 'Wrld', feedurl: 'https://www.buzzfeed.com/world.xml', oldestAge: 24 * 4 * 60 },
					{ feedname: 'bt', feedtitle: 'WTF ', feedurl: 'https://www.buzzfeed.com/wtf.xml', oldestAge: 24 * 40 * 60 },

				],
				datarefreshinterval: 7000,
			}
		},
		{
			module: "MMM-FeedDisplay",
			position: "top_center",
			config: {
				id: "MMFD2",
				articlemergetype: 'merge',
				articleordertype: 'date',
				displayarticlimage: true,
				displayrefreshtime: 4000,
				displayarticlecount: 4,
				displayrotationstyle: 'scroll',
			}
		},
		{
			module: "MMM-FeedDisplay",
			position: "top_left",
			config: {
				id: "MMFD1",
				articlemergetype: 'merge',
				articleordertype: 'date',
				displayarticlimage: true,
				displayrefreshtime: 4000,
				displayarticlecount: 4,
				displayrotationstyle: 'scroll',
				
			}
		},
		{
			module: "MMM-FeedDisplay",
			position: "top_right",
			config: {
				id: "MMFD3",
				articlemergetype: 'merge',
				articleordertype: 'age',
				displayrefreshtime: 4000,
				displayarticlecount: 15,
				displayrotationstyle: 'scroll',
				displayarticlimage: true,
			}
		},
